body {
/*	background-color: #cceeff;*/
    font-size: 0.85em;
    line-height: 1.5em;
    font-family:  'Helvetica', Verdana, Arial, sans-serif;
  	padding: 30px;
  	margin:0;
}

a {
    text-decoration: none;
    color: #003399;
}

a img {
    border: none;
}

#content {
    width: 1100px;
	padding: 0;
    margin: 0 auto;
}

#middle {
    margin: 0 200px;
}

#right {
    float: right;
    width: 200px;
/*    padding-top: 5px;*/
}

#right .flyer {
    margin-top: 70px;
}

#right div {
    margin-left: 20px;
}

#right ul {
    list-style: none;
    padding-left: 30px;
    margin-top: 20px;
}

#right ul li {
    margin-bottom: 15px;
}

.logo {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    background-image: url(img/logo1.jpg);
    background-color: #cceeff;
    height: 150px;
}

.content {
    background-color: #ffffff;
    min-height: 550px;
    height:expression(this.scrollHeight > 550 ? "auto":"550px");
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border: 1px solid #cccccc;
    padding: 20px 20px;
}

.content h1{
    line-height: 1.2em;
    font-size: 1.7em;
}

.content > div {
    margin-bottom: 30px;
}

.navi {
    height: 40px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-bottom: none;
}

.navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navi ul li {
    display: block;
    float: left;
    line-height: 35px;
    padding: 5px 20px;
}

.navi ul li a {
    font-size: 1.4em;
    color: #999999;
}

.navi ul li.active a {
    color: black;
}

.footer {
    color: gray;
    padding: 5px;
}
