{% extends "layout.twig" %}

{% block title %}
 - Wettbewerb
{% endblock %}

{% block content %}
    <h1>Wettbewerbsbedingungen</h1>
    <div>
        <ul class="conditions">
            <li>...</li>
        </ul>
    </div>
{% endblock %}
