{% extends "layout.twig" %}

{% block title %}
 - Wettbewerb
{% endblock %}

{% block content %}
    <div>
        <h3>Kategorie <b>„Pilot couture“</b></h3>
        Für Fliegende.<br/>
        Flugsicherheit muss gewährleistet sein
        (Helmpflicht, keine eingeschränkte Manövrierbarkeit,
        gewährleistete Rettungsfunktion etc.)

        <h3>Kategorie <b>„Bode Mode“</b></h3>
        Für Bodenständige bzw. Luftuntaugliche
    </div>
    <div>
        <h3>Wettbewerbskriterien</h3>
        <ul class="conditions">
            <li>Kostüm / Verkleidung</li>
            <li>Kreativität / Originalität</li>
            <li>Engagierter Einsatz</li>
        </ul>
        <div>Die Jury  besteht aus Mitgliedern der <br/>Bärn Gliders und des  GSCK.</div>
        <h3>Preise</h3>
        <div>Die Preise werden von <br/>unseren Sponsoren zur <br/>Verfügung gestellt.</div>
    </div>
{% endblock %}
