{% extends "layout.twig" %}

{% block content %}
    <h1>fly & dress</h1>
    <div>
<b style="color: red;">VERSCHOBEN</b>. Das Wetter will nicht mitmachen. Leider müssen wir euch auf später vertrösten. Verschoben heisst nicht aufgehoben. Bitte deshalb Kostüme nicht gleich entsorgen, sondern nur versorgen – am 1. Oktober wissen wir bestimmt, wann wir euch hier über das nächste Datum informieren können.
<br/>Das OK-Team dankt allen, die uns bei der Vorbereitung <br/>tatkräftig unterstützt haben und natürlich allen <br/>Gästen, die uns treu bleiben werden.
	</div>
{% endblock %}
