{% extends "layout.twig" %}

{% block content %}
    <div>Die Bärn Gliders und der Gleitschirmclub Kandersteg laden ein zum</div>
    <h1>fly & dress</h1>
    <div>
        in Kandersteg am Samstag, 1. September 2012 ab 10:00 Uhr.
    </div>
    <div>
        Wie immer ist der Name Programm:
    </div>
    <h3>Flugvergnügen</h3>
    <h3>Kostümwettbewerb</h3>
    <h3>Grillspass</h3>
{% endblock %}
