{% extends "layout.twig" %}

{% block content %}
    <div>Die B채rn Gliders und der Gleitschirmclub Kandersteg laden ein zum</div>
    <h1>fly & dress</h1>
    <div>
        in Kandersteg nach dem Motto "Kleider machen Leute", <br/>am Samstag,
        1. September 2012 ab 10:00 Uhr.
    </div>
    <div>
        Wie immer ist der Name Programm:
    </div>
    <h3>Flugshow des <a target="_blank" href="https://vimeo.com/31865614">Sp&auml;lti Acro Team</a></h3>
    <h3>Flugvergn체gen</h3>
    <h3>Kost체mwettbewerb</h3>
    <h3>Grillspass</h3>
    <div>
        Anmeldungen (via <a href="mailto:ok&#64;f&#108;y%2d%61%6e%64.%63%68">Email</a>
        oder <a href="https://www.facebook.com/events/443420449022559/">Facebook</a>)
        sind <br/>wie immer erw체nscht, das erleichtert <br/>uns die Planung.
        <br/><br/>
        Wir freuen uns auf euch!
    </div>
{% endblock %}
