{% extends "layout.twig" %}

{% block content %}

<h1>Krönung der Regisseure</h1>
<div>
    Der  diesjährige Fly & … Event, heuer unter dem Zeichen Film, war ein voller
    Erfolg. Auch die Wettergötter meinten es wieder mal gut mit uns.
    Am 4. September haben sich in Kandersteg, unter der Regie des Gleitschirmclubs
    Kandersteg und der Bärn Gliders, zahlreiche Fliegende, Flugbegeisterte und
    Schaulustige versammelt. Der Task war die Produktion eines möglichst
    originellen Kurzfilmes über den Fly&Film Event in Kandersteg. Die 7
    eingereichten Filme hätten unterschiedlicher nicht sein können. Interessierte
    können die Filme weiterhin <a href="/abstimmen">hier</a> angucken.
</div>
<div>
    Nach dem Auszählen der gültigen Stimmen ergibt sich folgende Rangliste:
</div>
<ol>
    <li>
        „Diänis flüegendäs Zwärgä-Ballätt“ von Diäni und Chrigu
    </li>
    <li>
        „Flying Bieber“ von Marco Joho und Valentin Gillich
    </li>
    <li>
        „Randonneuse - Back to Eightysix“ von Mario Hari und Sebastian Bichsel
    </li>
    <li>
        „A Day in the Sky“ von Florian Kläy und Andreas Fluck
    </li>
    <li>
        „Fly and Film Kandersteg“ von Remo Pfaff und Pascal Loser
    </li>
    <li>
        „Ä Tag im Bärner Oberland“ von Barbara Wittwer und Daniel Schmitt
    </li>
    <li>
        „36 Grad und es wird noch heisser“ von Christian Linder und Nicole Kohler
    </li>
</ol>
<div>
    Wir hatten einen riesen Spass und freuen uns auf den nächsten Fly-and ... Event im 2012.
</div>

{% endblock %}
