{% extends "layout.twig" %}

{% block content %}

	<a style="color: red; font-size: 1.5em; font-weight: bold;" href="/abstimmen">Hier geht's zur Abstimmung</a>

    <h1>Die Bärn Gliders und der Gleitschirmclub Kandersteg laden ein zum</h1>
    <div>
        Fly & Film in Kandersteg nach dem Motto „Action Kontrollblick
        Punktlandung Cut“ am Samstag, 3. September 2011 ab 10:00 Uhr.
    </div>
    <h1>Unser Ziel</h1>
    <div>
        Im Rahmen des Filmwettbewerbs möglichst originelle bewegte
        Bilder des einmaligen Flugtages in Kandersteg prämieren,
        Austauch zwischen den Gleitschirmvereinen, Freundschaften knüpfen,
        Nichtfliegenden einen Einblick in unseren Sport bieten.
    </div>
    <h1>Wer soll sich angesprochen fühlen?</h1>
    <div>
        Alle!  Gleitschirmvereine können den Anlass als Clubausflug
        planen,  Fliegende können die Gelegenheit nutzen, ihr Können
        filmerisch fest zu halten, Nichtfliegenden kann ein Spektakel geboten werden.
    </div>
    <h1>Unser Rahmenprogramm</h1>
    <div>
        <ul>
            <li><a href="/wettbewerb">Filmwettbewerb</a> mit attraktiven Preisen</li>
            <li>Tandemflüge</li>
            <li>Ziellandewettbewerb</li>
            <li>Grillspass (leckeres Salat- und Kuchenbuffet vorhanden) und Festwirtschaft</li>
            <li>Bastelplausch für Kinder und Junggebliebene</li>
        </ul>
    </div>
    <h1>Mitbringen</h1>
    <div>
        Kameras, gute Laune, Freunde (auch Nichtfliegende!), eigenes Fleisch (Kühlboxen sind vorhanden).
    </div>
    <h1>Anmeldung</h1>
    <div>
        Anmelden per Mail an <a href="mailto:ok&#64;f&#108;y%2d%61%6e%64.%63%68">o&#107;&#64;fly&#45;&#97;nd.ch</a>.<br/>
        Anmeldungen sind wie immer erwünscht, das erleichtert uns die Planung.
    </div>
    <b>Der Gleitschirmclub Kandersteg (gsck) und die Bärn Gliders freuen sich auf euch!</b>
{% endblock %}
