{% extends 'layout.twig' %}

{% block content %}
<h1>Die Bärn Gliders und der Gleitschirmclub Kandersteg laden ein zum</h1>
<div>
    Fly & Film in Kandersteg nach dem Motto „Action Kontrollblick 
    Punktlandung Cut“ am Samstag, 3. September 2011 ab 10:00 Uhr.
</div>
<h1>Unser Ziel</h1>
<div>
    Im Rahmen des Filmwettbewerbs möglichst originelle bewegte 
    Bilder des einmaligen Flugtages in Kandersteg zu prämieren, 
    Austauch zwischen den Gleitschirmvereinen, Freundschaften knüpfen, 
    Nichtfliegenden einen Einblick in unseren Sport bieten.
</div>
<h1>Wer soll sich angesprochen fühlen?</h1>
<div>
    Alle!  Gleitschirmvereine können den Anlass als Clubausflug 
    planen,  Fliegende können die Gelegenheit nutzen, ihr Können 
    filmerisch festhalten, Nichtfliegenden kann ein Spektakel geboten werden. 
</div>
{% endblock %}