{% extends "layout.twig" %}

{% block title %}
 - Infos
{% endblock %}

{% block content %}
    <h3>Grill</h3>
    <div>
        Grill und Grillchef(s) sind vorhanden, am Salat- und Dessertbuffet
        können Beilagen und Desserts gekauft werden, Getränke stehen auch zum
        Verkauf, nur das Fleisch müsst ihr selber mitbringen
    </div>
    <h3>Kinderecke</h3>
    <div>
        Es steht eine Kinderecke mit Bastel-<br/> und Schminksachen zur Verfügung
    </div>
    <h3>Tandemflüge</h3>
    <div>
        Vor Ort können Tandemflüge gebucht<br/> werden
    </div>
    <h3>Anfahrt</h3>
    <div>
        <a href="http://goo.gl/maps/QU80">Google Map Link</a>
    </div>
{% endblock %}
