<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Fly & Film</title>
</head>
<body>
<div id="content">
    <div id="right">
        <?php include 'views/right.html' ?>
    </div>
    <div id="middle">
        <div class="logo"></div>
        <div class="navi">
            <?php include 'views/navigation.html' ?>
        </div>
        <div class="content">
            <?php include 'views/'.$template.'.html' ?>
        </div>
        <div class="footer">&copy; 2011 B&auml;rn Gliders</div>
    </div>
</div>
</body>
</html>