<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>fly & dress{% block title %}{% endblock %}</title>
</head>
<body>
<div id="content">
    <div id="right">
        {% include "right.twig" %}
    </div>
    <div id="middle">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">&copy; 2012 B&auml;rn Gliders</div>
    </div>
</div>
</body>
{% block js %}
{% endblock %}
</html>