<ul>
    <li{% if app.request.requestUri == '/' %} class="active"{% endif %}>
        <a href="/">Home</a>
    </li>
    <li{% if app.request.requestUri == '/wettbewerb' %} class="active"{% endif %}>
        <a href="/wettbewerb">Wettbewerb</a>
    </li>
</ul>