<div>Sponsored by:</div>
<ul>
    <li>
        <a target="_blank" href="http://www.flywithandy.ch">
            <img src="img/flywithandy.jpg" />
        </a>
    </li>
</ul>
<div>Hosted by:</div>
<ul>
    <li>
        <a target="_blank" href="http://www.baern-gliders.ch">
            <img src="img/LogoBaernGliders.png" />
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.gsck.ch">
            <img src="img/logoGSCK.jpg" />
        </a>
    </li>
</ul>
<div class="flyer">
    <img src="img/flyer.jpg" />
</div>
