<div>Sponsoren:</div>
<ul>
    <li>
        <a target="_blank" href="http://www.starterplus.ch/">
            <img src="img/starterplus.gif" />
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.flywithandy.ch">
            <img src="img/flywithandy.jpg" />
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.cafe-kairo.ch/">
            <img src="img/kairo.png" />
        </a>
    </li>
    <li>Weitere folgen...</li>
    <!--<li>
        <a target="_blank" href="http://www.desalpes-kandersteg.ch/">
            <img src="img/des_alpes.jpg" />
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.seilpark-kandersteg.ch/">
            <img src="img/seilpark.jpg" />
        </a>
    </li>-->
</ul>
<div>Gastgeber:</div>
<ul>
    <li>
        <a target="_blank" href="http://www.baern-gliders.ch">
            <img src="img/LogoBaernGliders.png" />
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.gsck.ch">
            <img src="img/logoGSCK.jpg" />
        </a>
    </li>
</ul>
<!--<div class="flyer">
    <img src="img/flyer.jpg" />
</div>-->
