{% extends "layout.twig" %}

{% block title %}
 - Wettbewerb
{% endblock %}

{% block content %}
    <h1>Wettbewerbsbedingungen</h1>
    <div>
        <ul class="conditions">
            <li>zeitlicher Rahmen: <strong>3.9.2011 00:00 – 24:00 Uhr</strong> (Anreise, Flugtag, Rückreise)</li>
            <li>Dauer des Filmes: <strong>max. 3 Minuten</strong></li>
            <li><strong>Zweierteams</strong>, Teams können auch vor Ort gebildet werden. Selbstverständlich dürfen auch Nichtfliegende Wettbewerbsbeiträge einreichen. </li>
            <li>Accessoires sind erlaubt und erwünscht</li>
            <li>Eingabefrist: <strong>11. September 2011 23:59 Uhr</strong> (Details siehe unten)</li>
            <li>Abstimmung vom 15.09.11 bis 22.09.11 auf dieser Webseite</li>
            <li>Bekanntgabe der Gewinnerteams im Swiss Glider (Nummer wird noch bekannt gegeben)</li>
            <li>Barauszahlung der Preise ist nicht möglich. Der Rechtsweg ist ausgeschlossen.</li>
        </ul>
    </div>
    <h2>Eingabe</h2>
    <div>
        Bitte ladet euren Film auf ein Videoportal hoch und schickt den Link bis spätestens 11. September 2011 23:59 Uhr an <a href="mailto:ok&#64;f&#108;y%2d%61%6e%64.%63%68">o&#107;&#64;fly&#45;&#97;nd.ch</a>.<br/>
        Wir akzeptieren Links von den Portalen <a  target="_blank" href="http://www.vimeo.com">Vimeo</a>, <a target="_blank" href="http://www.youtube.com">Youtube</a> und <a target="_blank" href="http://www.facebook.com">Facebook</a>.<br/><br/>
        Wir werden die Eingaben dann überprüfen, auf dieser Seite aufschalten und zur Abstimmung freigeben.
    </div>
{% endblock %}
