<h1>Wettbewerbsbedingungen</h1>
<div>
    <ul class="conditions">
        <li>zeitlicher Rahmen: <strong>3.9.2011 00:00 – 24:00 Uhr</strong> (Anreise, Flugtag, Rückreise)</li>
        <li>Dauer des Filmes: <strong>max. 3 Minuten</strong></li>
        <li><strong>Zweierteams</strong>, Teams können auch vor Ort gebildet werden. Selbstverständlich dürfen auch Nichtfliegende Wettbewerbsbeiträge einreichen. </li>
        <li>Accessoires sind erlaubt und erwünscht</li>
        <li>Eingabefrist: <strong>11. September 2011 23:59 Uhr</strong></li>
        <li>Abstimmung vom 14.09.11 bis 28.09.11 unter www.fly-and.ch</li>
        <li>Bekanntgabe der Gewinnerteams im Swiss Glider (Nummer wird noch bekannt gegeben)</li>
        <li>Barauszahlung der Preise ist nicht möglich. Der Rechtsweg ist ausgeschlossen.</li>
    </ul>
</div>
