body {
/*	background-color: #cceeff;*/
    font-size: 0.9em;
    line-height: 1.5em;
    font-family:  'Courier', serif;
  	padding: 30px;
  	margin:0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #003399;
}

a img {
    border: none;
}

h1 {
    font-size: 3em;
}

#content {
    width: 1097px;
	padding: 0;
    margin: 0 auto;
}

#middle {
    min-height: 600px;
    margin: 0 280px 0 200px;
    background: url('img/dress/weiss_weiss.jpg') no-repeat right bottom;
}

#right {
    float: right;
    width: 200px;
    margin-top: 350px;
}

#right ul {
    padding-left: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
}
