body {
    font-size: 1em;
    line-height: 1.5em;
    font-family:  'Courier', serif;
  	padding: 30px;
  	margin:0;
}

li {
    list-style: none;
}

a {
    text-decoration: underline;
    color: #000;
}

a img {
    border: none;
}

h1 {
    font-size: 4em;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

#content {
    width: 1200px;
	padding: 0;
    margin: 0 auto;
}

#middle {
    float: left;
    min-height: 650px;
    width: 750px;
    background: url('img/dress/weiss_weiss.jpg') no-repeat right bottom;
}

#right {
    float: left;
    width: 200px;
    margin-left: 100px;
    min-height: 600px;
}

#right ul {
    padding-left: 30px;
}

.footer {
    margin-top: 165px;
}

.navi ul {
    padding: 0;
    margin-bottom: 30px;
}

.navi li {
    display: inline;
    font-size: 1.3em;
    margin-right: 20px;
}

.navi li a {
    text-decoration: none;
}
